<section class="check__container calculator_first_input">
    <div>
        <p class="p_title">Калькулятор</p>
    </div>
    <div>
    </div>
    <div class="check__form">
        <input type="text" class="check__inp" placeholder="Введіть число"> 
    </div>
</section>
<section>
<ul class="option__math">
    <li class="circle_option"><button type="button" class="circle__option__1">+</button></li>
    <li class="circle_option"><button type="button" class="circle__option__2">*</button></li> 
    <li class="circle_option"><button type="button" class="circle__option__3">-</button></li>
    <li class="circle_option"><button type="button" class="circle__option__4">/</button></li>
</ul>

</section>
