<section class="check__container">
    <div>
        <p class="p_title">Калькулятор</p>
    </div>
    <div>
    </div>
    <div class="check__form">
        <input type="text" class="check__inp" placeholder="Введіть число"> 
    </div>
</section>
<section>
    <div class="option_math">
        <div class="circle_option_1">
<p>
    +
</p>
        </div>
    </div>
    <div class="circle_option_2">
       <p>*</p>
    </div>
    <div class="circle_option_3">
       <p>-</p>
    </div>
    <div class="circle_option_4">
      <p>/</p> 
    </div>
</div>
</section>
<section class="check__container">
    </div>
    <div class="check__form">
        <input type="text" class="check__inp" placeholder="Введіть число"> 
    </div>
</section>
<section class="check__container">
    </div>
    <div class="check__form">
        <input type="text" class="check__inp" placeholder="Введіть число"> 
    </div>
</section>