<section>
    <div class="container">
        <h3 class="enter__numbers__title">Введіть 3 числа</h3>
        <div class="enter__numbers__wrapper">
            <form class="enter__numbers__form">
                <input type="text" class="enter__numbers__inp inp__1" placeholder="Введіть число"> 
                   <input type="text" class="enter__numbers__inp inp__2" placeholder="Введіть число"> 
                      <input type="text" class="enter__numbers__inp inp__3" placeholder="Введіть число"> 
            </form>
            <p class="enter__numbers__text">Найбільше число, яке ви ввели - (число)</p>
        </div>
        <hr class="check__hr">
    </div>
</section>