<section>
    <div class="container">
        <h3 class="check__title">Вгадай число, яке загадав комп’ютер</h3>
        <div class="check__wrapper">
             <form class="check__form">
            <input type="text" class="num__inp" placeholder="Введіть число"> <button class="num__btn" type="button"><svg
                    class="num__search" width="15" height="15">
                    <use href="../img/kirillsimgaes/symbol-defs.svg#icon-search"></use>
                </svg></button>
        </form>
        <p class="num__text">placeholder</p> 
        </div>
        <hr class="check__hr">
    </div>
</section>