<div class="modal">
    <div class="container_modal">
        <img class="welcome_image close" src="../img/vovasimages/cross.svg" alt="cross">
        <p class="p_modal">Привіт! <br>
    Ви потрапили на сайт інтерактивних ігор та завдань
    Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
    Бажаємо Вам гарно провести час!</p>
    <p>Введіть своє ім’я:</p>
    <input class="welcome_input" type="text" name="" id="" placeholder="Ваше ім’я...">
    <button class="button_modal">Зберегти</button>
    </div>
</div>