<section>
    <div class="container">
        <h3 class="sts__title">Обери вченого/их</h3>
        <ul class="sts__list">
            <li class="sts__item">
                <div class="sts__item__content sts__content__1">Albert Einshtein <br>
1879-1955</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__2">Isaac Newton <br> 1643-1727</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__4">Galileo Galilei <br> 1564-1642</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__5">Marie Curie <br> 1867-1934</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__6">Johannes Kepler <br> 1571-1630</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__7">Nicolaus Copernicus <br> 1473-1543</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__8">Max Planck <br> 1858-1947</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__9">Katherine Blodgett <br> 1898-1979</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__10">Ada Lovelace <br> 1815-1852</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__11">Sarah E. Goode <br> 1855-1905</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__12">Lise Meitner <br> 1878-1968</div>
            </li>
            <li class="sts__item">
                <div class="sts__item__content sts__content__13">Hanna Hammarström <br> 1829-1909</div>
            </li>
        </ul>
        <ul class="sts__list__2">
            <li class="sts__item__2"><button class="sts__button sts__btn__1" type="button">Які вчені народилися в 19 ст.</button>
            </li>
            <li class="sts__item__2"><button class="sts__button sts__btn__2" type="button">Відсортувати вчених за алфавітом</button>
            </li>
            <li class="sts__item__2"><button class="sts__button sts__btn__3" type="button">Відсортувати вчених за кількістю прожитих
                    років</button></li>
            <li class="sts__item__2"><button class="sts__button sts__btn__4" type="button">Знайти вченого, який народився
                    найпізніше</button></li>
            <li class="sts__item__2"><button class="sts__button sts__btn__5" type="button">Знайти рік народження Albert
                    Einshtein</button></li>
            <li class="sts__item__2"><button class="sts__button sts__btn__6" type="button">Знайти вчених, прізвища яких починаються
                    на на літеру “С” </button></li>
            <li class="sts__item__2"><button class="sts__button sts__btn__7" type="button">Видалити всіх вчених, ім’я яких
                    починається на “А”</button></li>
            <li class="sts__item__2"><button class="sts__button sts__btn__8" type="button">Знайти вченого, який прожив найдовше і
                    вченого,
                    який прожив найменше</button></li>
            <li class="sts__item__2"><button class="sts__button sts__btn__9" type="button">Знайти вчених, в яких співпадають перші
                    літери імені і прізвища</button></li>
        </ul>
    </div>
</section>