<section>
    <div class="container">
<h3 class="sts__title">Обери вченого/их</h3>
<ul class="sts__list">
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
    <li class="sts__item"><div class="sts__item__content"></div></li>
</ul>
<ul class="sts__list__2">
    <li class="sts__item__2"><button class="sts__button" type="button">Які вчені народилися в 19 ст.</button></li>
    <li class="sts__item__2"><button class="sts__button" type="button">Відсортувати вчених за алфавітом</button></li>
    <li class="sts__item__2"><button class="sts__button" type="button">Відсортувати вчених за кількістю прожитих років</button></li>
    <li class="sts__item__2"><button class="sts__button" type="button">Знайти вченого, який народився найпізніше</button></li>
    <li class="sts__item__2"><button class="sts__button" type="button">Знайти рік народження Albert Einshtein</button></li>
    <li class="sts__item__2"><button class="sts__button" type="button">Знайти вчених, прізвища яких починаються на на літеру “С” </button></li>
    <li class="sts__item__2"><button class="sts__button" type="button">Видалити всіх вчених, ім’я яких починається на “А”</button></li>
    <li class="sts__item__2"><button class="sts__button" type="button">Знайти вченого, який прожив найдовше і вченого, 
який прожив найменше</button></li>
    <li class="sts__item__2"><button class="sts__button" type="button">Знайти вчених, в яких співпадають перші літери імені і прізвища</button></li>
</ul>
    </div>
</section>