<section>
    <div class="container">
        <h3 class="sps__title">Камінь - ножиці - папір</h3>
        <div class="sps__wrapper">
            <ul class="sps__list">
                <li class="sps__item sps__item__1"><button type="button" class="sps__stone"><img src="../img/kirillsimgaes/stone.svg" alt="stone"></button></li>
                <li class="sps__item sps__item__2"><button type="button" class="sps__scissors"><img src="../img/kirillsimgaes/scissors.svg" alt="scissors"></button></li>
                <li class="sps__item sps__item__3"><button type="button" class="sps__paper"><img src="../img/kirillsimgaes/paper.svg" alt="paper"></button></li>
            </ul>
            <ul class="sps__win__list">
                <li class="sps__win__item">Рахунок: </li>
                <li class="sps__win__item">Комп’ютер - <span class="num__score__comp">0</span></li>
                <li class="sps__win__item">Ви - <span class="num__score__user">0</span></li>
            </ul>
        </div>
        <p class="sps__result">placeholder</p>
        <button type="button" class="sps__btn">Варіант комп’ютера</button>

        <hr class="check__hr">
    </div>
</section>