<section>
    <div class="container">
        <h3 class="sps__title">Камінь - ножиці - папір</h3>
        <div class="sps__wrapper">
            <ul class="sps__list">
                <li class="sps__item"><img src="../img/kirillsimgaes/stone.svg" alt="stone"></li>
                <li class="sps__item"><img src="../img/kirillsimgaes/scissors.svg" alt="scissors"></li>
                <li class="sps__item"><img src="../img/kirillsimgaes/paper.svg" alt="paper"></li>
            </ul>
            <ul class="sps__win__list">
                <li class="sps__win__item">Рахунок:</li>
                <li class="sps__win__item">Комп’ютер - 0</li>
                <li class="sps__win__item">Ви - 0</li>
            </ul>
        </div>
        <p class="sps__result">placeholder</p>
        <button type="button" class="sps__btn">Варіант комп’ютера</button>

        <hr class="check__hr">
    </div>
</section>