<section>
    <div class="container">
        <h3 class="calc__time__title">Калькулятор часу</h3>
        <div class="calc__time__wrapper">
<form class="calc__time__form">
            <input type="text" class="calc__time__inp" placeholder="Введіть число"> <button class="calc__time__btn"><svg
                    class="calc__time__search" width="15" height="15">
                    <use href="../img/kirillsimgaes/symbol-defs.svg#icon-search"></use>
                </svg></button>
        </form>
        <div class="calc__time__doted"></div>
        <p class="calc__time__text">placeholder</p>
        </div>
     <hr class="check__hr">
    </div>
</section>