
body{
 background: url("../../img/back.svg");
    font-family: 'Montserrat Alternates', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1090px;
    background-color: rgb(255, 255, 255);

}
body {
  font-family: sans-serif;
  color: $light-text;
}