
body{
 background: url("../img/back.svg");
    font-family: 'Montserrat Alternates', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1090px;
    background-color: rgb(255, 255, 255);

}
body {
  color: $light-text;
  height: 1700px;
  background-repeat: no-repeat;
}

.container{
  max-width: 1090px;
  max-height: 3202px;
  margin-left: 175px;
  margin-right: 175px;
  border-width: 1px;
  border-color: black;

}