
body{
 background: url("../../img/back.svg");
    font-family: 'Montserrat Alternates', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1090px;
    background-color: rgb(255, 255, 255);

}
body {
  font-family: sans-serif;
  color: $light-text;

  transition: background-color $transition, color $transition;
  background-image: url(../background.png);
  background-repeat: no-repeat;
  height: 1700px;
}

.container{
  max-width: 1090px;
  max-height: 3202px;
  margin-left: 175px;
  margin-right: 175px;
  border-width: 1px;
  border-color: black;

}