.p_title{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.calculator_title{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: $calculator_title;
    font-size: 12;
}


.option__math{
    display: flex;
    gap: 10px;
    width: 69px;
    list-style: none;
    flex-wrap: wrap;
}

.circle__option__1{
background-color: black;
border-radius: 50%;
color: white;
border: none;
box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
width: 27px;
height: 25px;
cursor: pointer;
}

.circle__option__2{
    @extend .circle__option__1;
}

.circle__option__3{
    @extend .circle__option__1;
}

.circle__option__4{
    @extend .circle__option__1;
}