.p_title{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.calculator_title{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: $calculator_title;
    font-size: 12;
}


.option__math{
    display: flex;
    gap: 10px;
    max-width: 69px;
    list-style: none;
    height: 60px;
    margin-left: 350px;
}

.circle__option__1{
background-color: black;
border-radius: 50%;
color: white;
border: none;
box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
cursor: pointer;
}

.circle__option__2{
    @extend .circle__option__1;
    margin-top: 50px;
    margin-left: -50px;
}

.circle__option__3{
    @extend .circle__option__1;
}

.circle__option__4{
    @extend .circle__option__1;
        margin-top: 50px;
    margin-left: -50px;
}

.calculator_promt{
    margin-left: -808px;
margin-bottom: -50px;
margin-right: 38px;
}

.second_input_calculator{
    margin-left: 38px;
    margin-top: -70px;
    margin-bottom: 48px;
}

.calculator_first_input{
    list-style: none;
}

.end_input{
    margin-left: 800px;
    margin-top: -80px;
}

.third_input_calculator{
    margin-left: 800px;
    margin-top: -35px;
    margin-right: 38px;
}

.rechnen_zeichnen{
    @extend .circle__option__1;
    margin-top: -10px;
}