.field {
  width: 720px;
  height: 220px;
background-color: $section_football;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  margin-left: 500px;
  margin-bottom: 90px;
}