.sps__list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 38px;
}

.sps__title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: 36px;
    margin-bottom: 36px;
}

.sps__item {
    border-radius: 20px;

    background: rgb(0, 0, 0);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sps__btn {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: white;
    background: rgb(0, 0, 0);
    border: none;
    width: 182px;
    height: 35px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 36px;
    font-family: Montserrat Alternates;
}

.sps__result {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    margin-top: 36px;
    margin-bottom: 36px;
}

.sps__win__list {
    margin-left: 104px;
    list-style: none;
}

.sps__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100px;
}