.calc__time__inp{
   @extend .check__inp;
}

.calc__time__search{
    @extend .check__search;
}

.calc__time__text{
    @extend .checked__text;
    margin-left: 36px!important;
}

.calc__time__btn{
    @extend .check__btn;
}
.calc__time__doted{
    width: 100px;
    border: 1px dashed rgb(0, 0, 0);
}

.calc__time__title{
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
    margin-top: 36px;
}

.calc__time__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 36px;
}