.button_modal{
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    border: none;
}

.p_modal{
        font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.modal{
    background-color: white;
    max-width: 576px;
    max-height: 316px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-top: 100px;
}

.container_modal{
    max-width: 392px;
    max-height: 223px;
    text-align: center;
    margin-left: 90px;
}

.welcome_input{
    background-color: #7e7e7e70;
    color: white;
    width: 169px;
    height: 39px;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
}

.welcome_image{
    margin-left: 431px;
}